<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About Us</h2>
                    <p>Le meilleur de la cuisine Africaine rien que pour vous!!!!</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2"></h2>
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">
                                    Mons, Belgique </span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+32 466 48 60 47
                                    </span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text"><span
                                            class="__cf_email__"
                                            data-cfemail="177e797178576e78626573787a767e793974787a">[email&#160;protected]</span></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script data-cfasync="false"
                        src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear());</script> Tous droits réservés | Ce travail
                    pratique a été fait avec <i class="icon-heart" aria-hidden="true"></i> par <a href="#"
                        target="_blank">Arthur NJIGANG</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade" id="readycmdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marquer la commande comme prête</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Veuillez vérifier que la commande contient bien <span class="nbre_repass"></span> repas, si oui
                    cliquez sur Confirmer, si non cliquez sur Fermer</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary readycmdbtn">Confirmer</button>
            </div>
        </div>
    </div>
</div>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            stroke="#F96D00" />
    </svg></div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.timepicker.min.js"></script>
<script src="/js/scrollax.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script src="/js/google-map.js"></script>
<script src="/js/main.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script src="/js/vanilla-toast-main/lib/vanilla-toast.min.js"></script>
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    // Creating map options
    var mapOptions = {
        center: [50.8550625, 4.3053499],
        zoom: 10
    }

    // Creating a map object
    var map = new L.map('my-map', mapOptions);

    // Creating a Layer object
    var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    // Adding layer to the map
    map.addLayer(layer);
    L.marker([50.8550625, 4.3053499]).addTo(map).bindPopup("<b>Votre Position</b>").openPopup();
    L.marker([50.8719193, 4.8412464]).addTo(map).bindPopup("<b>Votre ville</b>").openPopup();
    L.marker([50.6550625, 4.3053499]).addTo(map).bindPopup("<b>Votre ville</b>").openPopup();
    L.marker([50.9550625, 4.1053499]).addTo(map).bindPopup("<b>Votre ville</b>").openPopup();
    L.marker([50.9950625, 4.5053499]).addTo(map).bindPopup("<b>Votre ville</b>").openPopup();
    L.marker([50.9950625, 4.2053499]).addTo(map).bindPopup("<b>Votre ville</b>").openPopup();
</script>
<script>
    // Creating map options
    var mapOptions2 = {
        center: [50.4458633, 3.8996649],
        zoom: 10
    }

    // Creating a map object
    var map2 = new L.map('livraison-map', mapOptions2);

    // Creating a Layer object
    var layer2 = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    // Adding layer to the map
    map2.addLayer(layer2);
    L.marker([50.4458633, 3.8996649]).addTo(map2).bindPopup("<b>Lieu de livraison, Mons</b>").openPopup();
</script>
<script>
    // Creating map options
    var mapOptions3 = {
        center: [50.4458633, 3.8996649],
        zoom: 10
    }

    // Creating a map object
    var map3 = new L.map('livreur-map', mapOptions3);

    // Creating a Layer object
    var layer3 = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

    // Adding layer to the map
    map3.addLayer(layer3);
    L.marker([50.4458633, 3.8996649]).addTo(map3).bindPopup("<b>Lieu de livraison, Mons</b>").openPopup();
</script>
<script>
    $(document).ready(function () {
        $('#tableResto').DataTable();
    });
    var restorant = "";
    var linkready = "";
    var nbrep = "";
    $('.order-popup').click(function (e) {
        e.preventDefault();
        var resto = $(this).attr("attr-resto");
        $('input[name="restoname"]').val(resto);
        restorant = resto;
        $("#exampleModal").modal('show');
    })
    $('input[name="nbre_repas"]').keyup(function () {
        if ($(this).val() < 1 || $(this).val() > 20) {
            $('.error-repas').show();
        } else {
            $('.error-repas').hide();
        }
    })
    $('input[name="codepostal"]').keyup(function () {
        if ($(this).val() < 1000 || $(this).val() > 9999) {
            $('.error-codepostal').show();
        } else {
            $('.error-codepostal').hide();
        }
    })
    $('.savecmd').click(function (e) {
        e.preventDefault();
        var self = $(this);
        $(this).html("En cours...");
        if ($('input[name="codepostal"]').val() < 1000 || $('input[name="codepostal"]').val() > 9999 || $('input[name="codepostal"]').val() == "") {
            $('.error-codepostal').show();
            self.html("Enregistrer");
        } else if ($('input[name="nbre_repas"]').val() < 1 || $('input[name="nbre_repas"]').val() > 20 || $('input[name="nbre_repas"]').val() == "") {
            $('.error-repas').show();
            self.html("Enregistrer");
        } else if ($('input[name="commune"]').val() == "" || $('input[name="rue"]').val() == "" || $('input[name="nom"]').val() == "" || $('input[name="nbre_repas"]').val() == "" || $('input[name="codepostal"]').val() == "") {
            vt.error("Veuillez remplir tous les champs avec astérisque, ils sont obligatoires !", {
                title: "Erreur !",
                position: "top-center",
                duration: 5000,
                closable: true,
                focusable: true,
                callback: undefined
            });
            self.html("Enregistrer");
        } else {
            $('.error-repas').hide();
            $('.error-codepostal').hide();
            var oldcmd = localStorage.getItem('cmds');
            console.log(oldcmd);
            var characters = 'abcdefghijklmnopqrstuvwxyz0123456789';
            var result = "";
            var chaactersLength = characters.length;

            for (var i = 0; i < 10; i++) {
                result += characters.charAt(Math.floor(Math.random() * chaactersLength));
            }
            $.ajax({
                type: "POST",
                url: "/store-cmd",
                data: {
                    nom: escapeHtml($('input[name="nom"]').val().trim()),
                    nbre_repas: escapeHtml($('input[name="nbre_repas"]').val().trim()),
                    rue: escapeHtml($('input[name="rue"]').val().trim()),
                    numero_maison: escapeHtml($('input[name="nbermaison"]').val().trim()),
                    numero_boite: escapeHtml($('input[name="nberboite"]').val().trim()),
                    code_postal: escapeHtml($('input[name="codepostal"]').val().trim()),
                    commune: escapeHtml($('input[name="commune"]').val().trim()),
                    resto: escapeHtml(restorant.trim()),
                    id_cmd: result
                },
                success: function (response) {
                    console.log(response);
                    if (response.type == "error") {
                        vt.error(response.message, {
                            title: "Erreur !",
                            position: "top-center",
                            duration: 5000,
                            closable: true,
                            focusable: true,
                            callback: undefined
                        });
                    } else {
                        vt.success("Commande enregistrée avec succès !", {
                            title: "Succès !",
                            position: "top-center",
                            duration: 2000,
                            closable: true,
                            focusable: true,
                            callback: undefined
                        });
                    }
                    self.html("Enregistrer");
                    setTimeout(function () {
                        window.location.href = "/cmd-details";
                    }, 1000);
                },
                error: function (err) {
                    vt.error("Une erreur est survenue, veuillez reessayer plutard !", {
                        title: "Erreur !",
                        position: "top-center",
                        duration: 5000,
                        closable: true,
                        focusable: true,
                        callback: undefined
                    });
                    self.html("Enregistrer");
                }
            });
        }
    })
    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }
    $('#type_user').change(function () {
        var user = $(this).find(":selected").val();
        console.log(user);
        if (user == "Restaurant") {
            $('.resto_login').show(300)
            $('.livreur_login').hide(100)
        } else if (user == "Livreur") {
            $('.resto_login').hide(100)
            $('.livreur_login').show(300)
        } else {
            $('.resto_login').hide(100)
            $('.livreur_login').hide(100)
        }
    })
    $('.loginresto').click(function (e) {
        e.preventDefault();
        $(this).html("En cours...");
        var self = $(this);
        var user_info = "";
        var user_info_welcome = "";
        if ($('#type_user').find(":selected").val() == "Restaurant") {
            var user_info = $('#resto_login').find(":selected").val();
            var user_info_welcome = $('#resto_login').find(":selected").val();
        }else if ($('#type_user').find(":selected").val() == "Super administrateur") {
            var user_info = 0;
            var user_info_welcome = "Admin";
        } else {
            var user_info = $('.nom_livreur').val() + " " + $('.prenom_livreur').val();
            var user_info_welcome = $('.nom_livreur').val() + " " + $('.prenom_livreur').val();
        }
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                resto: user_info,
                typeuser: $('#type_user').find(":selected").val()
            },
            success: function (response) {
                if (response.type == "error") {
                    vt.error(response.message, {
                        title: "Erreur !",
                        position: "top-center",
                        duration: 2000,
                        closable: true,
                        focusable: true,
                        callback: undefined
                    });
                } else {
                    vt.success("Bienvenue " + user_info_welcome, {
                        title: "Succès !",
                        position: "top-center",
                        duration: 2000,
                        closable: true,
                        focusable: true,
                        callback: undefined
                    });
                    self.html("Connexion");
                    setTimeout(function () {
                        if (response.data == "Restaurant") {
                            window.location.href = "/resto-dashboard";
                        } else if (response.data == "Livreur") {
                            window.location.href = "/livreur-dashboard";
                        } else {
                            window.location.href = "/admin-dashboard";
                        }
                    }, 1000);
                }
            },
            error: function (err) {
                vt.error("Une erreur est survenue, veuillez reessayer plutard !", {
                    title: "Erreur !",
                    position: "top-center",
                    duration: 5000,
                    closable: true,
                    focusable: true,
                    callback: undefined
                });
                self.html("Connexion");
            }
        });
    })
    $('.readycmd').click(function (e) {
        e.preventDefault();
        linkready = $(this).attr("attr-url");
        $(".nbre_repass").text($(this).attr("attr-repas"));
        $("#readycmdModal").modal('show');
    })
    $('.confirm-order').click(function (e) {
        e.preventDefault();
        vt.success("Commande confirmée avec succès !", {
            title: "Merci !",
            position: "top-center",
            duration: 5000,
            closable: true,
            focusable: true,
            callback: undefined
        });
        setTimeout(function () {
            window.location.href = "/";
        }, 1000);
    })
    $(document).on("click", ".cancelcmd", function (e) {
        e.preventDefault();
        // $(this).html("En cours...");
        var id = $(this).attr('attr-id');
        swal({
            title: "Etes-vous sûr ?",
            text: "Vous êtes sur le point de supprimer une commande",
            icon: "warning",
            buttons: true
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: "/cancel-cmd/" + id,
                        data: {
                            resto: ""
                        },
                        success: function (response) {
                            console.log(response);
                            setTimeout(function () {
                                window.location.href = "";
                            }, 1000);
                        },
                        error: function (err) {
                            vt.error("Une erreur est survenue, veuillez reessayer plutard !", {
                                title: "Erreur !",
                                position: "top-center",
                                duration: 5000,
                                closable: true,
                                focusable: true,
                                callback: undefined
                            });
                            $(this).html("Confirmer");
                        }
                    });
                } else {
                    //   swal("Your imaginary file is safe!");
                }
            });
    })
    $('.removeallcmd').click(function (e) {
        e.preventDefault();
        // $(this).html("En cours...");
        var id = $(this).attr('attr-id');
        swal({
            title: "Etes-vous sûr ?",
            text: "Vous êtes sur le point de supprimer toutes les commandes",
            icon: "warning",
            buttons: true
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: "GET",
                        url: "/delete-cmd",
                        data: {
                            resto: ""
                        },
                        success: function (response) {
                            console.log(response);
                            setTimeout(function () {
                                window.location.href = "";
                            }, 1000);
                        },
                        error: function (err) {
                            vt.error("Une erreur est survenue, veuillez reessayer plutard !", {
                                title: "Erreur !",
                                position: "top-center",
                                duration: 5000,
                                closable: true,
                                focusable: true,
                                callback: undefined
                            });
                            $(this).html("Confirmer");
                        }
                    });
                } else {
                    //   swal("Your imaginary file is safe!");
                }
            });
    })
    $('.readycmdbtn').click(function (e) {
        e.preventDefault();
        $(this).html("En cours...");
        $.ajax({
            type: "GET",
            url: linkready,
            data: {
                resto: ""
            },
            success: function (response) {
                console.log(response);
                $(this).html("Confirmer");
                vt.success("Commande appretée avec succès !", {
                    title: "Succès !",
                    position: "top-center",
                    duration: 2000,
                    closable: true,
                    focusable: true,
                    callback: undefined
                });
                $(this).html("Connexion");
                setTimeout(function () {
                    window.location.href = "";
                }, 1000);
            },
            error: function (err) {
                vt.error("Une erreur est survenue, veuillez reessayer plutard !", {
                    title: "Erreur !",
                    position: "top-center",
                    duration: 5000,
                    closable: true,
                    focusable: true,
                    callback: undefined
                });
                $(this).html("Confirmer");
            }
        });
    })
    window.setInterval(event, 10000);
    function event() {
        $.ajax({
            type: "GET",
            url: "/update-cmd",
            data: {
                resto: ""
            },
            success: function (response) {
                console.log(response);
                $('.tableupdated').empty();
                response.data.forEach((cmd) => {
                    $('.tableupdated').append(`
                      <tr>
                          <td>${cmd.id_cmd}</td>
                          <td>${cmd.nbre_repas}</td>
                          <td>${cmd.status}</td>
                          <td>${cmd.createdat}</td>
                          <td>
                              <a href="/dashboard/cmd/${cmd.id_cmd}" class="btn btn-tbl-edit" title="Marquer comme prête">
                              Marquer comme prête
                              </a>
                          </td>
                      </tr>
                  `);
                })
            },
            error: function (err) {
                //   vt.error("Une erreur est survenue, veuillez reessayer plutard !",{
                //       title: "Erreur !",
                //       position: "top-center",
                //       duration: 5000,
                //       closable: true,
                //       focusable: true,
                //       callback: undefined
                //   });
            }
        });
        $.ajax({
            type: "GET",
            url: "/update-cmd-admin",
            data: {
                resto: ""
            },
            success: function (response) {
                console.log(response);
                $('.tableupdatedadmin').empty();
                response.data.forEach((cmd) => {
                    $('.tableupdatedadmin').append(`
                      <tr>
                          <td>${cmd.id_cmd}</td>
                          <td>${cmd.commune}, ${cmd.code_postal}</td>
                          <td>${cmd.resto}</td>
                          <td>${cmd.preparedat}</td>
                          <td>Livreur</td>
                          <td>${cmd.preparedat}</td>
                          <td>${cmd.preparedat}</td>
                          <td>${cmd.status}</td>
                          <td>${cmd.createdat}</td>
                          <td>
                              <a href="#" attr-id="${cmd.id_cmd}" class="btn btn-tbl-edit cancelcmd">
                                  Annuler
                              </a>
                          </td>
                      </tr>
                  `);
                })
            },
            error: function (err) {
                //   vt.error("Une erreur est survenue, veuillez reessayer plutard !",{
                //       title: "Erreur !",
                //       position: "top-center",
                //       duration: 5000,
                //       closable: true,
                //       focusable: true,
                //       callback: undefined
                //   });
            }
        });
        $.ajax({
            type: "GET",
            url: "/update-cmd-livreur",
            data: {
                resto: ""
            },
            success: function (response) {
                console.log(response);
                $('.tableupdatedlivreur').empty();
                response.data.forEach((cmd) => {
                    $('.tableupdatedlivreur').append(`
                      <tr>
                          <td>${cmd.id_cmd}</td>
                          <td>${cmd.commune}, ${cmd.code_postal}</td>
                          <td>${cmd.resto}</td>
                          <td>${cmd.preparedat}</td>
                          <td> - </td>
                          <td>${cmd.preparedat}</td>
                          <td>${cmd.status}</td>
                          <td>${cmd.createdat}</td>
                          <td>
                              <a href="#" attr-id="${cmd.id_cmd}" class="btn btn-tbl-edit">
                                Livrer
                              </a>
                          </td>
                      </tr>
                  `);
                })
            },
            error: function (err) {
                //   vt.error("Une erreur est survenue, veuillez reessayer plutard !",{
                //       title: "Erreur !",
                //       position: "top-center",
                //       duration: 5000,
                //       closable: true,
                //       focusable: true,
                //       callback: undefined
                //   });
            }
        });
    }
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/pizza/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Mar 2021 10:01:27 GMT -->

</html>