<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/pizza/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Mar 2021 10:00:55 GMT -->

<head>
    <title>Afri-Food - <%= title %>></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <style>
        .modal-title {
            margin-bottom: 0;
            line-height: 1.5;
            color: #e15b20;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                    <!-- <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li> -->
                    <li class="nav-item"><a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Connectez-vous</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" style="padding: 1rem;">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Sélectionnez le type d'utilisateur *</label>
                        <select id="type_user">
                            <option value="Restaurant">Restaurant</option>
                            <option value="Livreur">Livreur</option>
                            <option value="Super administrateur">Super administrateur</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 resto_login">
                  <div class="form-group">
                      <label for="">Sélectionnez votre restaurant *</label>
                      <select name="resto_login" id="resto_login">
                        <% restos.forEach((resto,index)=>{ %>
                            <option value="<%= resto.nom %>"><%= resto.nom %></option>
                        <% }) %>
                      </select>
                  </div>
                </div>
                <div class="col-md-6 livreur_login" style="display: none;">
                  <div class="form-group">
                      <label for="">Votre nom *</label>
                      <input type="text" name="nom_livreur">
                  </div>
                </div>
                <div class="col-md-6 livreur_login" style="display: none;">
                  <div class="form-group">
                      <label for="">Votre prénom *</label>
                      <input type="text" name="prenom_livreur">
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary loginresto">Connexion</button>
          </div>
        </div>
      </div>
    </div>
</body>
